
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" base href="/css/main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <title>more</title>
    <style>
        .jumbotron {
            width: 100%;
            height: 250px;
        }

            .jumbotron h2 {
                padding-bottom: 0;
            }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-sm sticky-top navbar-dark">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="News">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Teachers">Наши учителя</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="BestStudents">Лучшие ученики</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sheet">Расписание уроков</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Activities">Мероприятия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Administration">Администрация</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--container end-->
    </nav>
    <!--Section-1-->
    <section class="section-1">
        <div class="jumbotron d-flex align-items-center" style="background-image: url(../Pictures/main.jpg);">
            <div class="gradient"></div>
            <div class="container-fluid content">
                <h1 data-aos="fade-out" data-aos-delay="300">Добро пожаловать в ХОГВАРТС</h1>
                <h2 data-aos="fade-left" data-aos-delay="300">*возможно, это не настоящая школа волшебства</h2>
            </div>
            <!--container-fluid end-->
        </div>
    </section>

    <!-- blog-single Section Start -->
    <div id="blog-single">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-12 heading-1">
                    <h3>История школы</h3>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-duration="700">
                <div class="col-sm-12">
                    <img src="./Pictures/childs.jpg" alt="" class="img-thumbnail image">
                    <div class="heading">
                        <h2>Наша история только начинается, мы строим её вместе с нашими учениками</h2>
                    </div>
                </div>
            </div>
            <div class="row" data-aos="fade-up" data-aos-duration="700">
                <div class="col-sm-12 col-lg-12 box">
                    <p>С чего же началась наша история? Что ж. Случилось это в недалёком 2022 году. Прекрасной весной, когда всё вокруг начало цвести и пахнуть, одной лягушке взбрело в голову исполнить желание первого встречного человека. </p>
                    <p>Но лягушка наша жила в болоте. Там сложно встретить человека. Стала наша лягушка думать, куда ей направиться на поиски человека. Долго думала лягушка. Очень долго. И решила она загуглить. </p>
                    <p>Достала она свой смартфон. Открыла браузер. А связи-то нет.</p>
                    <p>Расстроилась лягушка. Начала горевать, но мимо пролетала ворона. Ворона была умной, все у неё советы спрашивали. И лягушка решила спросить.</p>
                    <p>"Ворона, а ворона, что мне делать? У меня связи нет, а мне люди нужны!" - жалостливо проквакала лягушка. Ворона посмотрела на неё, подумала немного и сказала: "В БГУИР тебе надо".</p>
                    <p>"В БГУИРе и связь найдешь, и человеков встретишь," - подытожила ворона. </p>
                    <p>Лягушка долго не сопротивлялась. Она вообще не сопротивлялась. Направилась в БГУИР. Много зданий она увидела в пути, выбирала между корпусами, но выбрала в итоге 2 корпус.</p>
                    <p>И вот поднимается наша лягушка по лестнице, а никаких человеков не видно. Поднимается выше. Снова нет. Поднимается на 4 этаж и видит: стоит девочка с сине-зелеными волосами и грустит.</p>
                    <p>"Чего ты грустишь?" - спросила лягушка. "Времени нет у меня, а мне надо сайт сделать для школы," - ответила ей незнакомка. "А ты попроси кого-нибудь!" - предложила ей лягушка. Девушка вздохнула и спросила: "Кого же мне просить?"</p>
                    <p>"Да хоть меня!" - громко заявила лягушка. Девушка не могла сомневаться в способностях лягушки и попросила её. А та, как и обещала, выполнила желание и сделала сайт. Да не простой, а такой, который преподавателю понравился. И он девочке зачет сразу поставил.</p>
                    <p>Вот такая вот история!</p>
                </div>
            </div>
            <section class="section4 more-blog" data-aos="fade-up" data-aos-duration="700">
                <h2 class="background"><span>МЫ ГОРДИМСЯ</span></h2>
                <div class="container">
                    <div class="row" data-aos="fade-up" data-aos-duration="700">
                        <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top" src="./Pictures/school1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Home" asp-action="Teachers">Нашими учителями</a>
                                    <p class="card-text"><small class="text-muted">*Они у нас волшебные</small></p>
                                    <p class="card-text">Наши учителя знают всё!</p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./Pictures/school2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index" role="button">Нашей школой</a>
                                    <p class="card-text"><small class="text-muted">*Она у нас волшебная</small></p>
                                    <p class="card-text">Атмосфера в школе стимулирует на высокие достижения!</p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./Pictures/school3.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="BestStudents" role="button">Нашими учениками</a>
                                    <p class="card-text"><small class="text-muted">*Они у нас волшебные</small></p>
                                    <p class="card-text">Наши ученики самые способные!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Blog_single Section End -->

    <section class="section-7">
        <!-- Footer -->
        <footer class="page-footer font-small stylish-color-dark">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-5 col-sm-12 mx-auto box-1">

                        <p>Этот сайт создан специально для вымышленной школы волшебства. Всем, кому не нравится, должно понравится. Подготовлено специально для ЭВТ. Любуемся и ставим лайки!</p>

                    </div>
                    <!-- Grid column -->
                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-lg-2 col-sm-4 box-2 mx-auto">

                        <!-- Links -->
                        <h5>Информация</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="News">Новости</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Administration">Администрация</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-lg-2 col-sm-4 box-3 mx-auto">

                        <!-- Links -->
                        <h5>Родителям</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Teachers">Наши учителя</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="BestStudents">Лучшие ученики</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-lg-2 col-sm-4 box-4 mx-auto">

                        <!-- Links -->
                        <h5>Ученикам</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Sheet">Расписание уроков</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Activities">Мероприятия</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center">
                <div class="gradient"></div>
                <p>© 2022, разработано by <a href="https://github.com/EVLAMPOCHKA"> EVLAMPOCHKA</a></p>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="./js/animate.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>
